body {
    background-color: #40B8EC;
}

/*
    Start of box styling.
    The box styling is used to give the nav a fixed height 
    and the content to fill up all the space that is left
*/
.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}


.box .rowx.header {
    flex: 0 0 auto;
}

.box .rowx.content {
    flex: 1 1 auto;
    text-align: center;

}
/* End of box styling */

/* Start of left and right side styling */
.row {
    width: 100%;
    height: 88vh;
}

.leftside,
.rightside {
    width: 100%;
    /* overflow: hidden; */
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.leftside {
    display:flex;
    align-items: center;
    justify-content: center;
}

.rightside {
    text-align: center;
    overflow: hidden;
    max-height: 89vh;

}
/* End of left and right side styling */

/* Start of table styling */

.Parent {
    max-height: 90%;
    height: 87vh;
    width: 40vw;
    background-color:white;
    border-radius: 20px;
    border: 2px solid #ccc;
    overflow-x: hidden;
}

#write {
    height: 50vh;
    width: 40vw;
}

/* Style the simplebar. Simplebar is used to make the table scrollbar look good*/
.simplebar-scrollbar {
    margin-right: 2px;
}

table {
    width: 40vw;
    background-color: white;
    text-align: left;
    overflow: hidden;
}

th,
td {
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    padding-right: 1.5vw;
    padding-left: 0.2vw;
}

th {
    font-weight: 350;
    font-size: 2.9vw;
}

td {
    font-size: 1.6vw;
}
/* End of table styling */

.mainImg {
    width: 50vw;
    object-fit: contain;
    margin-top:auto;
}

/* Start of media query */
@media screen and (max-width: 992px) {

    #aside {
        display: none;
    }

    .rightside {
        max-height: 77vh;
        max-width: 100vw;
    }
    .Parent {
        height: 77vh;
        width: 95vw;
        border: 2px solid #ccc;
    }

    #write {
        min-height: 77vh;
        width: 95vw;
    }

    table {
        width:95vw;
    }

    th {
        font-size: 7.3vw;
    }


    td {
        font-size: 4.5vw;
    }

    tbody tr:hover {
        background-color: #ffffff;
    }
}
/* End of media query */